
*{
    background-color: whitesmoke;
}
.about-1 {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    margin-top: 10px;
    gap: 3rem; 
    height: 70vh; 
    width: 70%;
    margin-left: 10%;
    margin-top: 10%;


}

.about-1 h1 {
    margin-top: 10%;
    padding: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
    height: auto; 
    padding: 0; 
    flex: 1;
    color: black;
    font-weight: 800;
}

.about-1 img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10%;
    flex: 1;
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin-left: 30%;
    margin-top: -10%;

}
button{
    padding: 10px 20px; 
    font-size: 16px;
    margin-left: 30%;
    margin-top: 5%;
    background-color: blanchedalmond;
    border-radius: 10%;
    border: none;
}
.btn1 button{
    padding: 10px 20px; 
    font-size: 16px;
    margin-top: 5%;
    background-color: bisque;
    border-radius: 10%;
    border: none;
    margin-left: 80%;
}
button:hover{
    background-color: #98D8EF;
    color: white;
    transform: scale(1.2);
    margin-bottom: 10%;
}
.word-5{
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    
}
hr{
    height: 3px;
    background-color:black;
    border: none;

}

.footer{
   
    padding: 70px ;
    height: 1vh;
    margin-top: 20%;
    display: flex;
    
    justify-content: center;

}
